---
import type { CollectionEntry } from 'astro:content'
import EggheadEmbed from '../components/EggheadEmbed.astro'
import Gif from '../components/Gif.astro'
import Marker from '../components/Marker.astro'
import OffsetWrap from '../components/OffsetWrap.astro'
import PostH3 from '../components/PostH3.astro'
import PostH4 from '../components/PostH4.astro'
import { formatPostDate } from '../utils'
import Blockquote from './Blockquote.astro'
import EditLink from './EditLink.astro'
import FadeIn from './FadeIn.astro'
import FinishedReading from './FinishedReading.astro'
import Hr from './Hr.astro'
import Image from './Image.astro'
import Link from './Link.astro'
import Note from './Note.astro'
import PageHeading from './PageHeading.astro'
import PostAuthor from './PostAuthor.astro'
import PostBeardStrokes from './PostBeardStrokes.astro'
import PostPagination from './PostPagination.astro'
import PostTags from './PostTags.astro'
import Prose from './Prose.astro'
import TableSimple from './TableSimple.astro'
import WorkWithAgathist from './WorkWithAgathist.astro'
import YouTubeEmbed from './YouTubeEmbed.astro'

interface Props {
  entry: CollectionEntry<'posts'>
  newerPost?: CollectionEntry<'posts'>
  olderPost?: CollectionEntry<'posts'>
  relatedPosts: CollectionEntry<'posts'>[]
}

const { entry, newerPost, olderPost, relatedPosts } = Astro.props
const { slug } = entry
const { coverImage, date, subtitle, title, tags = [] } = entry.data
const formattedDate = formatPostDate(date)
const { Content: PostContent } = await entry.render()
---

<div class="flex flex-col gap-8">
  <article class="post">
    <Prose>
      {
        coverImage && (
          <div>
            <img class="block w-full" src={coverImage} />
          </div>
        )
      }

      <div class="flex flex-col gap-2">
        <div class="flex">
          <div
            class="border-b-[3px] border-b-accent px-1 font-sans text-sm leading-chill"
          >
            {formattedDate}
          </div>
        </div>

        <PostBeardStrokes slug={slug} />
      </div>

      <div class="flex items-end justify-between gap-4">
        <div>
          <PageHeading><span set:html={title} /></PageHeading>
          {
            subtitle && (
              <div class="font-sans font-bold">
                <span set:html={subtitle} />
              </div>
            )
          }
        </div>

        <EditLink filePath={`/content/posts/${entry.id}`} />
      </div>

      <PostContent
        components={{
          a: Link,
          blockquote: Blockquote,
          EggheadEmbed,
          FadeIn,
          Gif,
          h3: PostH3,
          h4: PostH4,
          hr: Hr,
          Image,
          Marker,
          Note,
          OffsetWrap,
          TableSimple,
          YouTubeEmbed,
        }}
      />
    </Prose>
  </article>

  <div class="my-8">
    <hr />
  </div>

  <FinishedReading slug={slug} />

  <div class="flex flex-col gap-4">
    <PostPagination
      newerPost={newerPost}
      olderPost={olderPost}
      relatedPosts={relatedPosts}
    />

    {tags.length > 0 && <PostTags tags={tags} />}
  </div>

  <div class="my-8">
    <WorkWithAgathist />
  </div>

  <PostAuthor />
</div>
