---
import type { CollectionEntry } from 'astro:content'
import PostTags from './PostTags.astro'
import PostBeardStrokes from './PostBeardStrokes.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
---

<article class="flex flex-col gap-8">
  <div class="flex flex-col gap-4">
    <a
      class="flex flex-col gap-2 font-sans text-3xl text-inherit transition-all hover:text-accent"
      href={`/${post.slug}`}
    >
      <div class="leading-none" set:html={post.data.title} />
      {
        post.data.subtitle && (
          <div class="text-lg font-bold">{post.data.subtitle}</div>
        )
      }
    </a>

    <PostBeardStrokes slug={post.slug} />

    <div set:html={post.data.excerpt || post.data.description} />
  </div>

  <div class="flex items-baseline gap-4 md:gap-8">
    <div class="shrink-0">
      <a
        class="inline-block rounded bg-accent px-4 py-2 font-sans text-sm leading-none text-white shadow-md transition-colors hover:bg-accent-dark"
        href={`/${post.slug}`}
      >
        Read more
      </a>
    </div>

    <div class="min-w-0 shrink grow">
      {post.data.tags?.length && <PostTags tags={post.data.tags} />}
    </div>
  </div>
</article>
